In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://docs.google.com/spreadsheets/d/1tnw3iUHVKYgcbOETjnFNOehuhFP9rMexc2PUjLl0Hs0/export?format=csv&gid=0"

In [3]:
df = pd.read_csv(url)

In [4]:
(pd.Series(df['Product Type'].unique())).to_json('item maps.json')

In [5]:
df

,Sr,Description,Qty,Date,Supplier,Main,Lab,Amount,Product Type,Remarks
0,1,Epson Dot Matrix Printer,2.0,31/01/2007,RNT,8,3.0,17300.0,Printer,Installed in FE Lab
1,2,Windows Vista Business Upgrade,50.0,06/03/2007,RNT,9,10.0,143500.0,Upgrade,Kept in software cupboard for entire college
2,3,MS Visio Professional,1.0,02/03/2007,LDS,12,3.0,4750.0,Software,HOD Cabin Cupboard
3,4,Windows Vista Business Upgrade,1.0,05/02/2007,LDS,13,4.0,21381.0,Software,HOD Cabin Cupboard
4,5,Turbo Assembler TASM,2.0,05/03/2007,LDS,14,6.0,5512.0,Software,HOD Cabin Cupboard
...,...,...,...,...,...,...,...,...,...,...
178,179,802.11 Cards,1.0,06/02/2006,AXI,373,3.0,1490.0,Network,Printer Computer room=603 Dynamic
179,180,Fluke 110 Multi meter,1.0,20/02/2006,AXI,374,4.0,8320.0,Device,Mr. Nalawade
180,181,Fingerprint Based Time & Attendance System,1.0,12/02/2006,CIS,385,1.0,24900.0,System,Dynamic Stock Actually installed In SPIT Unaid...
181,182,RGB Cable,2.0,25/09/2006,ACS,405,1.0,2454.0,Cable,Installed in TPO Conference Hall Permanent Tra...
182,183,Projector stand,2.0,23/09/2006,MIF,406,1.0,2400.0,Stand,Installed in TPO Conference Hall Permanent Tra...

In [6]:
search = {'Supplier': 'LDS', 'Lab': 4}

In [7]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, 0 to 182
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sr            172 non-null    int64
 1   Description   172 non-null    object
 2   Qty           172 non-null    float64
 3   Date          172 non-null    object
 4   Supplier      172 non-null    object
 5   Main          172 non-null    int64
 6   Lab           172 non-null    float64
 7   Amount        172 non-null    float64
 8   Product Type  172 non-null    object
 9   Remarks       172 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 14.8+ KB

In [8]:
new_df = df.copy()

for param in search.keys():
    print(f"When {param} is {search[param]}")
    new_df = new_df[new_df[param] == search[param]]
    print(new_df)

new_df['Date'] = pd.to_datetime(new_df['Date'], format='mixed')

When Supplier is LDS
      Sr                          Description   Qty        Date Supplier  \
2      3                MS Visio Professional   1.0  02/03/2007      LDS
3      4       Windows Vista Business Upgrade   1.0  05/02/2007      LDS
4      5                 Turbo Assembler TASM   2.0  05/03/2007      LDS
25    26         Java Builder Professional R2   5.0  10/04/2012      LDS
26    27           MS Windows Professional -7   7.0  05/01/2012      LDS
32    33                   Oracle 11G License  10.0  07/12/2012      LDS
68    69   Oracle 11g STD Edition One License  10.0  16/01/2015      LDS
156  157      MS Office 2003 Prof. MOLP NL AE   1.0  31/03/2004      LDS
157  158       MS Windows XP Prof. MOPL NL AE   4.0  31/03/2004      LDS
158  159  MS Windows 2003 SERV CAL MOLP NL AE   1.0  31/03/2004      LDS
159  160                Oracle 9i STD Edition   1.0  31/03/2004      LDS
160  161                  Oracle 9i for Linux   1.0  15/04/2004      LDS

     Main   Lab    Amount Product Type                              Remarks
2      12   3.0    4750.0     Software                   HOD Cabin Cupboard
3      13   4.0   21381.0     Software                   HOD Cabin Cupboard
4      14   6.0    5512.0     Software                   HOD Cabin Cupboard
25     44   3.0   12742.0     Software        Room-604 In software cupboard
26     45   5.0   69872.0     Software        Room-604 In software cupboard
32     49  10.0  149386.0     Software        Room-604 In software cupboard
68     69   5.0  100281.0     Software                             Software
156   297   3.0   14500.0     Software  Room-604 Software cupboard Software
157   298   2.0   15800.0     Software  Room-604 Software cupboard Software
158   299   3.0   22000.0     Software  Room-604 Software cupboard Software
159   302   4.0   50000.0     Software  Room-604 Software cupboard Software
160   314   4.0   50000.0     Software  Room-604 Software cupboard Software
When Lab is 4
      Sr                     Description  Qty        Date Supplier  Main  Lab  \
3      4  Windows Vista Business Upgrade  1.0  05/02/2007      LDS    13  4.0
159  160           Oracle 9i STD Edition  1.0  31/03/2004      LDS   302  4.0
160  161             Oracle 9i for Linux  1.0  15/04/2004      LDS   314  4.0

      Amount Product Type                              Remarks
3    21381.0     Software                   HOD Cabin Cupboard
159  50000.0     Software  Room-604 Software cupboard Software
160  50000.0     Software  Room-604 Software cupboard Software

In [9]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 3 to 160
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sr            3 non-null      int64
 1   Description   3 non-null      object
 2   Qty           3 non-null      float64
 3   Date          3 non-null      datetime64[ns]
 4   Supplier      3 non-null      object
 5   Main          3 non-null      int64
 6   Lab           3 non-null      float64
 7   Amount        3 non-null      float64
 8   Product Type  3 non-null      object
 9   Remarks       3 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 264.0+ bytes