In [258]:
import pandas as pd
from datetime import datetime
import numpy as np

In [259]:
url = "./data.csv"

In [260]:
df = pd.read_csv(url)

In [261]:
(pd.Series(df['Product Type'].unique())).to_json('item maps.json')

In [262]:
search = {'Date': '', 'Supplier': 'RNT', 'Lab': None, 'Product Type': 'Printer'}

In [263]:
new_df = df.copy()
new_df['Date'] = pd.to_datetime(new_df['Date'], format='%d/%m/%Y')

for param in search.keys():
    print(f"When {param} is {search[param]}")
    if(param == 'Description'):
        new_df = new_df[new_df['Description'].str.contains(search[param])]
    if(param == 'Lab'):
        if(search[param] != None):
            new_df = new_df[new_df['Lab'] == int(search[param])]
    if(param == 'Date'):
        new_df = new_df[new_df['Date'] >= pd.to_datetime(search['Date'], format='%m/%Y')]
    if(param == 'Product Type' and search[param] == 'All'):
        continue
    else:
        new_df = new_df[new_df[param] == search[param]]
    
new_df

When Date is 11/2005
When Description is DELL Desktop
When Lab is 10

,Sr,Description,Qty,Date,Supplier,Main,Lab,Amount,Product Type,Remarks
35,36,DELL Desktop,5.0,2013-12-31,RNT,53,10.0,142963.0,Desktop,IIC Lab(Room-604)
36,37,DELL Desktop,1.0,2013-12-31,RNT,53,10.0,28593.0,Desktop,Prof.A.A.Godbole
37,38,DELL Desktop,2.0,2013-12-31,RNT,53,10.0,57185.0,Desktop,Prof.Natasha Raul
38,39,DELL Desktop,4.0,2013-12-31,RNT,53,10.0,114370.0,Desktop,Dr.Y.S.Rao(3rd floor Lab)
39,40,DELL Desktop,6.0,2013-12-31,RNT,54,10.0,276000.0,Desktop,IIC LAB (Room-604)
40,41,DELL Desktop,1.0,2013-12-31,RNT,54,10.0,46000.0,Desktop,Issued to Dr.Surendra Rathod sir in Room=303
41,42,DELL Desktop,1.0,2013-12-31,RNT,54,10.0,46000.0,Desktop,Room-604 HOD Cabin Dr.D.R.Kalbande
42,43,DELL Desktop,1.0,2013-12-31,RNT,54,10.0,46000.0,Desktop,Dr.Y.S.Rao (3rd floor Lab)

In [264]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 35 to 42
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sr            8 non-null      int64
 1   Description   8 non-null      object
 2   Qty           8 non-null      float64
 3   Date          8 non-null      datetime64[ns]
 4   Supplier      8 non-null      object
 5   Main          8 non-null      int64
 6   Lab           8 non-null      float64
 7   Amount        8 non-null      float64
 8   Product Type  8 non-null      object
 9   Remarks       8 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 704.0+ bytes

In [265]:
df.head().to_dict()

{'Sr': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'Description': {0: 'Epson Dot Matrix Printer',
  1: 'Windows Vista Business Upgrade',
  2: 'MS Visio Professional',
  3: 'Windows Vista Business Upgrade',
  4: 'Turbo Assembler TASM'},
 'Qty': {0: 2.0, 1: 50.0, 2: 1.0, 3: 1.0, 4: 2.0},
 'Date': {0: '31/01/2007',
  1: '06/03/2007',
  2: '02/03/2007',
  3: '05/02/2007',
  4: '05/03/2007'},
 'Supplier': {0: 'RNT', 1: 'RNT', 2: 'LDS', 3: 'LDS', 4: 'LDS'},
 'Main': {0: 8, 1: 9, 2: 12, 3: 13, 4: 14},
 'Lab': {0: 3.0, 1: 10.0, 2: 3.0, 3: 4.0, 4: 6.0},
 'Amount': {0: 17300.0, 1: 143500.0, 2: 4750.0, 3: 21381.0, 4: 5512.0},
 'Product Type': {0: 'Printer',
  1: 'Upgrade',
  2: 'Software',
  3: 'Software',
  4: 'Software'},
 'Remarks': {0: 'Installed in FE Lab',
  1: 'Kept in software cupboard for entire college',
  2: 'HOD Cabin Cupboard',
  3: 'HOD Cabin Cupboard',
  4: 'HOD Cabin Cupboard'}}