In [74]:
import pandas as pd
from datetime import datetime
import numpy as np

In [75]:
url = "./data.csv"

In [76]:
df = pd.read_csv(url)

In [77]:
(pd.Series(df['Product Type'].unique())).to_json('item maps.json')

In [78]:
search = {'Date': '02/2007', 'Supplier': '', 'Lab': 4, 'Product Type': 'Software'}

In [79]:
new_df[(new_df['Lab'] == 3.0)]

Empty DataFrame
Columns: [Sr, Description, Qty, Date, Supplier, Main, Lab, Amount, Product Type, Remarks]
Index: []

In [80]:
new_df = df.copy()
new_df['Date'] = pd.to_datetime(new_df['Date'], format='%d/%m/%Y')

new_df['Lab']
for param in search.keys():
    print(f"When {param} is {search[param]}")
    if(search[param] == None or (type(search[param])!=int and len(search[param]) == 0)):
        continue
    if(param == 'Description'):
        new_df = new_df[new_df['Description'].str.contains(search[param])]
    if(param == 'Lab'):
        # if(search[param] == None):
        #     continue
        # else:
        print()
        print(float(search[param]))
        new_df = new_df[new_df['Lab'] == search[param]]
    if(param == 'Date'):
        new_df = new_df[new_df['Date'] >= pd.to_datetime(search['Date'], format='%m/%Y')]
    # if(param == 'Product Type'):
    #     if(search[param] == None):
    #         continue
    else:
        new_df = new_df[new_df[param] == search[param]]

new_df

When Date is 02/2007
When Supplier is
When Lab is 4

4.0
When Product Type is Software

,Sr,Description,Qty,Date,Supplier,Main,Lab,Amount,Product Type,Remarks
3,4,Windows Vista Business Upgrade,1.0,2007-02-05,LDS,13,4.0,21381.0,Software,HOD Cabin Cupboard

In [81]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 3 to 3
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sr            1 non-null      int64
 1   Description   1 non-null      object
 2   Qty           1 non-null      float64
 3   Date          1 non-null      datetime64[ns]
 4   Supplier      1 non-null      object
 5   Main          1 non-null      int64
 6   Lab           1 non-null      float64
 7   Amount        1 non-null      float64
 8   Product Type  1 non-null      object
 9   Remarks       1 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 88.0+ bytes

In [82]:
df.head().to_dict()

{'Sr': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'Description': {0: 'Epson Dot Matrix Printer',
  1: 'Windows Vista Business Upgrade',
  2: 'MS Visio Professional',
  3: 'Windows Vista Business Upgrade',
  4: 'Turbo Assembler TASM'},
 'Qty': {0: 2.0, 1: 50.0, 2: 1.0, 3: 1.0, 4: 2.0},
 'Date': {0: '31/01/2007',
  1: '06/03/2007',
  2: '02/03/2007',
  3: '05/02/2007',
  4: '05/03/2007'},
 'Supplier': {0: 'RNT', 1: 'RNT', 2: 'LDS', 3: 'LDS', 4: 'LDS'},
 'Main': {0: 8, 1: 9, 2: 12, 3: 13, 4: 14},
 'Lab': {0: 3.0, 1: 10.0, 2: 3.0, 3: 4.0, 4: 6.0},
 'Amount': {0: 17300.0, 1: 143500.0, 2: 4750.0, 3: 21381.0, 4: 5512.0},
 'Product Type': {0: 'Printer',
  1: 'Upgrade',
  2: 'Software',
  3: 'Software',
  4: 'Software'},
 'Remarks': {0: 'Installed in FE Lab',
  1: 'Kept in software cupboard for entire college',
  2: 'HOD Cabin Cupboard',
  3: 'HOD Cabin Cupboard',
  4: 'HOD Cabin Cupboard'}}